

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  background-color: #040C18;
   position: fixed; 
height: 100px; 

}


.nav-container {
  max-width: 1140px; 
  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


#logo {
  width: 62.5px;
  height: 16px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem; 
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #81AFDD; 
}


.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sign-in {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
    width: 150px;
  height: 50px;
}

.sign-up {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #FF4820;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.menu {
  display: none; 
  cursor: pointer;
  margin-right: 50px;
}


@media (max-width: 1000px) {
 
  .menu {
    display: block;
    color: #042C54;
    margin-right: 20px;
  }

  .nav-links {
    position: fixed;       
    top: 0;
    right: -100%;         
    width: 250px;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: start;
    padding: 70px 20px;
    gap: 30px;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 99;
  }


  .nav-links.open {
    right: 0;
  }


  .nav-links li a {
    font-size: 18px;
    color: black;
  }

 
  .nav-buttons {
    display: none;
  }
}