
.mainDiv6 {
  margin-top: 10px ;  
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
   justify-content: center; 
  max-width: 1170px;
  margin: 100px auto;
  gap: 30px; 
  padding: 0 20px;
  box-sizing: border-box;
}

.mainDiv6 img {
  flex: 1;
  max-width: 450px;  
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.textsDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}


.textsDiv h5 {
  font-size: 10px;
  color: #71E5FF;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}


.textsDiv h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #fff;
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  color: transparent; 


}

.textsDiv h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #81afdd;
}


.textsDiv h5:last-child {
  font-size: 14px;
  color: #ff8a71;
  margin-top: 10px;
}




@media (max-width: 1024px) {
  .mainDiv6 {
    gap: 40px;
  }

  .textsDiv h1 {
    font-size: 32px;
  }

  .textsDiv h2 {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  .mainDiv6 {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .mainDiv img {
    max-width: 100%;
  }

  .textsDiv {
    max-width: 100%;
  }

  .textsDiv h1 {
    font-size: 28px;
  }

  .textsDiv h2 {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .textsDiv h1 {
    font-size: 24px;
  }

  .textsDiv h2 {
    font-size: 13px;
  }

  .textsDiv h5 {
    font-size: 12px;
  }
}
