*{
    margin: 0;
    padding: 0;
}

.parentDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #040C18;
   
}

.login{
    display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
    padding: 30px 50px;
    color: white;
    width: 400px;
    height: 500px;
     border: 1px solid white;
    
}

h1{
   display: flex;
   align-items: center;
   justify-content: center;
}

.enterinfo{
padding: 10px 20px;
border: none;
border-radius: 5px;
}

#loginbtn{
     padding: 0.75rem 1.5rem;
  border: none;
  background-color: #FF4820;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 40px;
  margin-top:20px;
}

#loginbtn:hover{
 background-color: #ff8167;
}
.empasstxt{
margin-bottom: 5px;
margin-top: 10px;
}