 .sitesIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
  
}

.sitesIcons img{
    width: 68px;
height: 24px;


} 

@media (max-width: 1024px) {
  .sitesIcons {
    gap: 30px;
  }

  .sitesIcons img {
    width: 60px;
    height: 22px;
  }
}


@media (max-width: 700px) {
  .sitesIcons {
    gap: 20px;
    justify-content: center;
  }

  .sitesIcons img {
    width: 50px;
    height: 18px;
  }
}