
.mainDiv5 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-right: 20px;
  padding: 5px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
position: relative;

}
   .decoration{
position: absolute;
left: 0;
top: 0;
border-radius: 50%;
background-color: #07325F;
width: 500px;
height: 500px;
filter: blur(500px);
z-index: -1;
  } 

.leftDiv {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: -120px;
}

.leftDiv h1 {
  font-weight: 800;
  font-size: 30px; 
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin: 0;
}

.leftDiv h6 {
  color: #FF8A71;
  font-size: 14px;
  margin-top: 10px;
}


.rightDiv {
  flex: 1.5;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.ttl1, .ttl2, .ttl3, .ttl4 {
  display: grid;
  grid-template-columns: 200px 1fr; 
  gap: 20px;
  align-items: start;
}


.ttl1 .dash5,
.ttl2 .dash5,
.ttl3 .dash5,
.ttl4 .dash5 {
  width: 38px;
  height: 3px;
  background: linear-gradient(90deg, #AE67FA, #F49867);
  border-radius: 2px;
  margin-bottom: 6px;
}


.ttl1 p,
.ttl2 p,
.ttl3 p,
.ttl4 p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}


.ttl1 h5,
.ttl2 h5,
.ttl3 h5,
.ttl4 h5 {
  color: #81AFDD;
  font-size: 9px;
  line-height: 1.6;
  margin: 0;
}


.ttl1 > div:first-child,
.ttl2 > div:first-child,
.ttl3 > div:first-child,
.ttl4 > div:first-child {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .mainDiv5 {
    padding: 100px 30px;
    gap: 60px;
    flex-direction: column;
    align-items: center;
  }

  .leftDiv {
    margin-top: 0;
    text-align: center;
    align-items: center;
  }

  .leftDiv h1 {
    font-size: 26px;
  }

  .rightDiv {
    width: 100%;
    gap: 30px;
  }

  .ttl1, .ttl2, .ttl3, .ttl4 {
    grid-template-columns: 160px 1fr;
    gap: 16px;
  }

  .ttl1 p, .ttl2 p, .ttl3 p, .ttl4 p {
    font-size: 16px;
  }

  .ttl1 h5, .ttl2 h5, .ttl3 h5, .ttl4 h5 {
    font-size: 13px;
  }
}


@media (max-width: 700px) {
  .mainDiv5 {
    padding: 60px 20px;
    gap: 40px;
  }

  .leftDiv h1 {
    font-size: 22px;
    line-height: 1.3;
  }

  .leftDiv h6 {
    font-size: 12px;
  }

  .ttl1, .ttl2, .ttl3, .ttl4 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .ttl1 p, .ttl2 p, .ttl3 p, .ttl4 p {
    font-size: 15px;
    text-align: center;
  }

  .ttl1 h5, .ttl2 h5, .ttl3 h5, .ttl4 h5 {
    font-size: 13px;
    text-align: center;
  }

  .ttl1 > div:first-child,
  .ttl2 > div:first-child,
  .ttl3 > div:first-child,
  .ttl4 > div:first-child {
    align-items: center;
  }
}